// Main colors are all true grayscale
// very sparingly, accent with gold shades

$white: #ffffff;
$quarter-white: #bfbfbf;
$middle-gray: #808080;
$quarter-black: #404040;
$black: #000000;

// accents
$gold-1: #c2901d;
